
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}
html {
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    bottom: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.main {
    flex-grow: 1;
}
img {
    vertical-align: middle;
    object-fit: cover;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
h1,
h2,
h3 {
    font-family: "Fraunces","Georgia", serif;
    font-weight: 900;
}

/* Header */

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 20px;
}
.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav__item + .nav__item {
    margin-left: 32px;
}
.nav__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    text-decoration: none;
    color: #83888f;
    transition: color 0.2s ease;
}
.nav__link:hover {
    color: #333d4b;
}

.nav__link--active {
    color: #333d4b;
}
/* Main */

/*Hero section */
.hero {
    margin-bottom: 136px;
}
.hero .container{
    padding: 115px 85px;
    background-image: url('../images/back-image.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.hero__info {
    width: 493px;
    color: #fefcf7;
}
.hero__heading {
    margin-top: 0;
    margin-bottom: 32px;
    
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}
.hero__paragraph {
    width: 445px;
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    
}
/*Section heading*/
.section-heading {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 48px;
}
.item-heading {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
}
/* Section Link */
.section-link {
    width: 217px;
    display: block;
    padding: 15px;
    text-align: center;
    font-family: "Fraunces","Georgia", serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #fefcf7;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: #0e8784;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}
.section-link:hover {
    background-color: #66d2cf;
}
/*Collection section */
.collection .container {
    margin-bottom: 200px;
    background-image: url(../images/our-collection.svg);
    background-repeat: no-repeat;
    background-position: top 0 center;
}
.collection__list {
    display: flex;
    align-items: center;
    width: 1114px;
    margin: 0 auto;
    padding: 0;
    padding-top: 126px;
    list-style-type: none;
    color: #333D4B;
}
.collection__item{
    width: 256px;
    text-align: center;
}
.collection__item + .collection__item{
    margin-left: 30px;
}
.collection__item__img {
    margin-bottom: 72px;
}
.collection__item__heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
}
.collection__item__paragraph {
    margin: 0;
    padding: 0;
} 
/*Choice section */
.choice .container {
    margin-bottom: 140px;
}
.choice__info {
    position: relative;
    z-index: 1;
    width: 1280px;
    height: 577px;
    padding: 0 390px;
    padding-top: 121px;
    background-color: #2C343E;
    color: #FEFCF7;
    text-align: center;
    border-radius: 10px;
}
.choice__heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}
.choice__paragraph {
    margin: 0;
    padding: 0;
}
.choice__list {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    align-items: center;
    width: 1110px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.choice__item {
    position: relative;
    z-index: 1;
    width: 350px;
    background-color: #0E8784;
    border-radius: 10px;
}
.choice__item + .choice__item {
    margin-left: 30px;
}
.choise__item__link {
    display: block;
    margin: 0;
    padding: 48px;
    padding-top: 200px;
    text-decoration: none;
    text-align: center;
    color: #FEFCF7;
}

.choice__item__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}
.choice__item:nth-child(1) .choice__item__heading::before {
    position: absolute;
    z-index: 1;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    content: url(../images/best-quality.svg);
}
.choice__item:nth-child(2) .choice__item__heading::before {
    position: absolute;
    z-index: 1;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    content: url(../images/exclusive-benefits.svg);
}
.choice__item:nth-child(3) .choice__item__heading::before {
    position: absolute;
    z-index: 1;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    content: url(../images/free-shipping.svg);
}
.chioce__item__paragraph {
    margin: 0;
    padding: 0;
}

/*performance-mode section*/

.performance-mode__info
{
    position: relative;
    z-index: 1;
    width: 1045px;
    height: 100%;
    padding: 200px 85px;
    padding-right: 150px;
    color: #333D4B;
}
.performance-mode__heading {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    color: #83888F;
    
}  

.performance-mode__list {
    position: relative;
    z-index: 1;
    display: flex;
    width: 1045px;
    height: 453px;
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    list-style-type: none;
}
.performance-mode__list::before {
    position: absolute;
    z-index: 1;
    top: 15px;
    width: 760px;
    height: 1px;
    transform: translateY(-50%);
    border: 2px solid #FDD6BA;
    content: '';
}
.performance-mode__item {
    position: relative;
    z-index: 1;
    width: 285px;
    height: 355px;
    padding-top: 208px;
}
.performance-mode__item + .performance-mode__item {
    margin-left: 95px;
}
.performance-mode__item::before {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 31px;
    height: 31px;
    background-color: #fff;
    border: 2px solid #0E8784;
    border-radius: 50%;
    content: '';
}
.performance-mode__item:nth-child(1)::after {
    position: absolute;
    z-index: 1;
    top: 98px;
    display: inline-block;
    width: 90px;
    height: 72px;
    font-family: "Fraunces","Georgia", serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    color:#FDD6BA;
    content: '01';
}
.performance-mode__item:nth-child(2)::after {
    position: absolute;
    z-index: 1;
    top: 98px;
    width: 101px;
    height: 72px;
    font-family: "Fraunces","Georgia", serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    color:#FDD6BA;
    content: '02';
}
.performance-mode__item:nth-child(3)::after {
    position: absolute;
    z-index: 1;
    top: 98px;
    width: 98px;
    height: 72px;
    font-family: "Fraunces","Georgia", serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    color:#FDD6BA;
    content: '03';
}
.performance-mode__item__heading {
    width: 255px;
    margin: 0;
    margin-bottom: 43px;
    padding: 0;
    font-family: "Fraunces","Georgia", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    
}
.performance-mode__item__paragraph {
    width: 285px;
    margin: 0;
    padding: 0;
}
/*Footer*/
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 85px;
    background-color:#2C343E;
}
.footer__left {
    display: flex;
    align-items: center;
}
.footer .nav {
    margin-left: 103px;
}
.footer .nav__link:hover {
    color: #fff;
}
.footer__social-link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
}
.footer__social-link + .footer__social-link {
    margin-left: 24px;
}
.footer__social-icon:hover {
    background-color: #FDD6BA;
}
/*About page*/
/*about section*/
.about .container {
    margin-bottom: 168px;
    padding: 137px 85px;
    height: 450px;
    background-image: url(../images/about-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.about__info{
    width: 445px;
    color: #FEFCF7;
}
.about__heading{
    margin-bottom: 24px;
}
.about__paragraph {
    margin: 0;
    padding: 0;
}
/*Commitment section*/
.commitment .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 168px;
    padding: 0 85px;
}
.commitment__img {
    margin-right: 125px;
    border-radius: 10px;
}
.commitemnt__info {
    width: 540px;
    color: #333D4B;
}
.commitemnt__heading {
    margin-bottom: 32px;
}
.commitemnt__paragraph {
    margin: 0;
    padding: 0;
}
/*Quality section*/
.quality .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 474px;
    padding: 88px 85px;
    margin-bottom: 168px;
    background-color: #2C343E;
    border-radius: 10px;
}
.quality__info {
    width: 540px;
    color: #FEFCF7;
}
.quality__img {
    position: absolute;
    z-index: 1;
    top: -88px;
    right: 85px;
}
/* headquarters section */
.headquarters .container {
    margin-bottom: 168px;
    padding-left: 85px;
}
.headquarters__heading {
    color: #83888F;
    margin-bottom: 72px;
}
.headquarters__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #333D4B;
}
.headquarters__item {
    position: relative;
    z-index: 1;
    padding-top: 95px;
}
.headquarters__item + .headquarters__item {
    margin-left: 225px;
}
.headquarters__item:nth-child(1)::before {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 40px;
    height: 50px;
    background-image: url(../images/united-kingdom.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
}
.headquarters__item:nth-child(2)::before {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 40px;
    height: 50px;
    background-image: url(../images/canada.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
}
.headquarters__item:nth-child(3)::before {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 40px;
    height: 50px;
    background-image: url(../images/australia.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
}
.headquarters__item__heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 32px;
    line-height: 36px;
}
.subheadquarters__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
