.commitment {
   padding-bottom: 244px;
}
.commitment .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 85px;
}
.commitment__img {
   margin-right: 125px;
   border-radius: 10px;
}
.commitemnt__info {
   width: 540px;
   color: #333D4B;
}
.commitemnt__heading {
   margin-bottom: 32px;
}
.commitemnt__paragraph {
   margin: 0;
   padding: 0;
}