.footer {
   padding-bottom: 88px;
}
.footer .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 48px 85px;
   background-color:#2C343E;
}
.footer__left {
   display: flex;
   align-items: center;
}
.footer .nav {
   margin-left: 103px;
}
.footer .nav__link:hover {
   color: #fff;
}
.footer__social-link {
   display: inline-block;
   height: 100%;
   text-decoration: none;
}
.footer__social-link + .footer__social-link {
   margin-left: 24px;
}
.footer__social-icon:hover {
   background-color: #FDD6BA;
}
@media only screen and (max-width: 1000px)
{
   .footer .container {
      flex-direction: column;
      align-items: center;
   }
   .footer__left {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 65px;
   }
   .footer__logo {
      margin-bottom: 34px;
   }
}