.header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 44px 20px;
}
.nav__list {
   display: flex;
   align-items: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.nav__item + .nav__item {
   margin-left: 32px;
}
.nav__link {
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.923077px;
   text-transform: uppercase;
   text-decoration: none;
   color: #83888f;
   transition: color 0.2s ease;
}
.nav__link:hover {
   color: #333d4b;
}

.nav__link--active {
   color: #333d4b;
}