.hero {
   padding-bottom: 136px;
}
.hero .container{
   padding: 115px 85px;
   background-image: url('../images/back-image.svg');
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
}
.hero__info {
   width: 493px;
   color: #fefcf7;
}
.hero__heading {
   margin-top: 0;
   margin-bottom: 32px;
   font-weight: 900;
   font-size: 72px;
   line-height: 72px;
}
.hero__paragraph {
   width: 445px;
   margin: 0;
   margin-bottom: 56px;
   padding: 0;
   
}